
.perfil{
    display: flex;
    background-color: #E6E6E6;
    justify-content: center;
}

.head{
    display: flex;
    justify-content: center;
    background-color: #C4C4C4;
    
}

.titulo{
    display: flex;
    color: #005677;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman';
    font-size: 35px;
    
}

.datos{
    display: flex;
    background-color: #C4C4C4;
    color: #005677;
    text-transform: uppercase;
    font-size: 20px;
    font-family:  'Times New Roman' ;
}

.lista{
    font-family: 'Times New Roman';
    font-size: 15px;
    font-style: italic;
    
}

.subtitle{
    margin: 2px;
    padding-left: 12px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #005677;
    color: #FFFFFF;
}